.container
  max-width 800px
  margin 0 auto
  padding 20px 0
.text-center
  text-align center
.top-space
  margin-top 15px
  &--md
    margin-top 25px
.bottom-space
  margin-bottom 15px
  &--md
    margin-bottom 25px
.full-height
  height 100%
.inner-left-space
  padding-left 15px
.validation-messages
  color rgb(221,44,0)
  font-size 12px
  line-height 14px
  padding-top 5px
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2)
.content
  position relative
.add-event-btn
  position absolute
  right 55px
  bottom 30px
  &.md-button.md-fab
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.46);
    &:not([disabled]).md-focused
      background-color: rgb(255,64,129);
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.46);
