.place-icon 
	color #E74C3C
	font-size 28px
	margin 0 5px 10px

.edit-icon
	color #4d79ff
	margin-right 10px

.events-title
	text-align center
	font-size 20px
	font-weight bold
	line-height 1

.event-date
	font-size 12px

.event-title
	height 20px
.event-details
	width 100%

.events-arrows-wrap
	overflow hidden

.events-arrow
	background transparent
	border none

.events-arrow-left
	float left

.events-arrow-right
	float right