footer
  .epam_logo
    width: 100px;
    height: 60px;
    background-image: url("https://upsa.epam.com/workload/images/epam-logo.svg");
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: 0 15px;
    background-size: 100px auto;
