#visualization 
	position relative

.zoom-btns-wrap
	position absolute
	background #fff
	top 7px
	left 1px
	z-index 1

.zoom-btn 
	cursor pointer
	font-size 40px
	line-height 1

.zoom-in-btn
	display block
	margin-bottom 5px